.withProcessed,
.withPending {
  text-align: center;
  height: fit-content;
  color: rgb(129, 129, 129);
}
.withProcessed {
  background-color: greenyellow;
}
.withPending {
  background-color: yellow;
}
.admin-wall {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  border-radius: 20px;
  border: 2px solid #eee;
  background-color: white;
  height: 150px;
  margin-top: 20px;
}
.admin-wall h1 {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.admin-wall p {
  font-size: 2em !important;
  font-weight: 700;
  margin-top: 20px !important;
}
.mini-wallets {
  position: relative;
  display: grid;
  gap: 20px;
  margin-top: 40px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.wall-mini {
  width: 100%;
  border-radius: 10px;

  padding: 10px;
  height: 200px;
  background-color: white;
  border: 2px solid #eee;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wall-mini span img {
  max-width: 40px;
}
.wall-mini span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.conv-div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.dash-nav {
  overflow-y: auto;
}
.conv-div p {
  font-weight: 700;
  font-size: 20px  !important;
  color: #ff2c5f !important;
}

.wallet-trans {
  overflow-x: auto;
  max-width: 1170px;
}

.ad-ac {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.ad-ac a {
  width: 90px;
  height: 50px;
  background-color: #fbf0d9;
  border-radius: 5px;
  display: flex;

  align-items: center;
  color: black;
  justify-content: center;
}

tr td:nth-child(8),
tr td:nth-child(7) {
  flex-wrap: nowrap !important;
  min-width: 200px;
}
tr td input {
  border: none !important;

  color: red;

  height: 20px;

  outline: none;
  background-color: transparent;
}
.navigation-div {
  position: relative;
  display: flex;
  padding: 20px;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
}
.boxet {
  position: relative;
  display: flex;
  flex-direction: row;
  width: auto;
  min-width: 120px;
  height: 30px;
  border: 2px solid #eee;
  border-radius: 3px;
}
.boxet a {
  border-right: 2px solid #eee;
  width: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  transition: all 0.5s ease-in-out;
}
.boxet a:last-child {
  border-right: none;
}
.selected-a {
  background-color: #fbf0d9;
}
.boxet a:hover {
  color: black;
  background-color: #fbf0d9;
}

.email-form {
  position: relative;
  display: flex;
  width: 100%;
  border: 2px solid #eee;
  border-radius: 10px;
  background-color: white;
  height: 400px;
  padding: 20px;
  flex-direction: column;
  margin-top: 30px;
}
.inpst {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 30px;

  margin-top: 20px;
}
.inpst p {
  font-weight: 600;
}
.inpst input {
  width: 100%;
  height: 40px;
  border: 2px solid #eee;
  border-radius: 5px;
  padding: 10px !important;
  outline-color: #fbf0d9;
}
.form-textt {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.form-textt a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbf0d9;
  color: black;
  border-radius: 5px;
  height: 40px;
}
.form-textt textarea {
  height: 200px;
  width: 100%;
  resize: none;
  outline-color: #fbf0d9;
  border: 2px solid #eee;
  padding: 10px;
}

@media screen and (max-width: 500px) {
  .email-form {
    padding: 10px !important;
    height: auto;
    min-height: 400px;
  }
  .inpst {
    gap: 10px;
    flex-direction: column;
  }
}
.table-responsive {
  background-color: white;
  padding: 15px;
  border-radius: 20px;
  height: auto;
  border: 2px solid #eee;
  max-width: 1100px;
  margin-top: 30px;
}
.col-lg-12 img {
  max-width: 100%;
  margin-top: 30px !important;
  border-radius: 10px;
}
td h3 {
  color: black;
}
td:first-child h3 {
  font-size: 20px;
}

td:last-child h3 {
  font-size: 15px;
}
